---
title: Selamat, kamu sudah terdaftar di Tokopedia ReksaDana!
userName: "{{.name}}"
introTitle: Selamat, kamu sudah terdaftar di Tokopedia ReksaDana!
introText: > 
  Yuk, kunjungi dashboard Tokopedia ReksaDana & segara mulai investasimu! 
---
<!-- 

{
  "template": "mutualfund_registration_sent_success",
  "target": [
    {
      "email": "nararya.anugraha@tokopedia.com",
      "phone_number": "",
      "user_id": 0
    }
  ],
  "params": {
    "name": "Pengguna Ujicoba"
  },
  "attachments": [],
  "pretend": false,
  "is_test": true,
  "push_notification_images": [],
  "notification_types": []
}

-->
<table class="body">
  {{> intro}}
  <tr>
    <td class="section">
      <a href="https://www.tokopedia.com/reksa-dana/dashboard" class="btn main block">Cek Dashboard Sekarang</a>
    </td>
  </tr>
  {{> footer}}
</table>