---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://via.placeholder.com/600x264'
introTitle: Maaf, pengajuan Cicilan Emas ditolak
introText:  Keputusan persetujuan / penolakan ditentukan oleh Dhanapala selaku mitra Tokopedia. 
iconWidth: 288px
applicationSummary: 
- label: ID Pengajuan
  value: <span class="green">CC4512001</span>
- label: Jumlah Emas
  value: 2 gram
- label: Jenis Kepingan
  value: Antam
- label: Durasi Cicilan
  value: 6 Bulan
- label: Total Tagihan
  value: Rp1.200.000
- label: Tagihan Per Bulan (6x)
  value: <span class="transaction">Rp200.000</span>
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section pt0">
      Beberapa alasan umum penolakan:	 
      <ol>
        <li>Keterangan atau data yang diberikan tidak dapat divalidasi oleh Dhanapala.</li>
        <li>Memiliki catatan kredit yang tidak sesuai syarat dan ketentuan Dhanapala.</li>
        <li>Belum memenuhi syarat dan ketentuan pengajuan cicilan olehDhanapala.</li>
      </ol>
      Silakan pantau dashboard Cicilan Emas secara berkala untuk mengajukan ulang.
    </td>
  </tr> 
  <tr>
    <td class="section align-center">
      <a class="btn main">Ke Dashboard Cicilan Emas</a>
    </td>
  </tr> 
  <tr>
    <td class="section">
      <h2>Ringkasan pengajuan</h2>
      <div class="gray-box">
        <table class="full-width">
          {{#each applicationSummary}}
          <tr>
            <td width="150px" class="align-left">{{this.label}}</td>
            <td>:</td>
            <td class="align-right"><strong>{{{this.value}}}</strong></td>
          </tr>
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
  {{> footer type="investment-gold"}}
</table>