---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://ecs7.tokopedia.net/fintech/gold/installment/illustration-approved.png'
introTitle: Selamat, pengajuan Cicilan Emas kamu disetujui
introText: >
  Yay, pengajuan cicilanmu telah disetujui. 
  Cek dashboard Cicilan Emas untuk melihat tagihan cicilan setiap bulannya. 
  Emas batangan akan dikirim setelah seluruh tagihan lunas. 
  Pastikan membayar tepat waktu untuk mengindari denda keterlambatan.
iconWidth: 360px
applicationSummary: 
- label: ID Pengajuan
  value: <span class="green">CC4512001</span>
- label: Jumlah Emas
  value: 2 gram
- label: Jenis Kepingan
  value: Antam
- label: Durasi Cicilan
  value: 6 Bulan
- label: Total Tagihan
  value: Rp1.200.000
- label: Tagihan Per Bulan (6x)
  value: Rp200.000
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section align-center">
      <a class="btn main" href="https://www.tokopedia.com/emas/cicil">Ke Dashboard Cicilan Emas</a>
    </td>
  </tr> 
  {{> gold-installment-details }}
  {{> footer type="investment-gold"}}
</table>