---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://via.placeholder.com/288x192'
introTitle: Selangkah lagi emasmu siap diantar!
introText: >
  Tinggal bayar 1 tagihan lagi agar emas batanganmu bisa diantar. 
  Pastikan alamat pengiriman sudah benar & bayar tagihan terakhir tepat waktu. 
  Emas akan dikirim setelah tagihan lunas.
iconWidth: 288px
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section pt0">
      <div class="gray-box mb4">
        <table class="full-width">
          <tr>
            <td width="200px" class="align-left">Alamat Pengiriman Emas</td>
            <td class="align-right"><strong>
              Jl. Ciragil 1 No. 37, RT005 RW019, 
              Srengseng Sawah, Jagakarsa, 
              Jakarta Selatan, DKI Jakarta 12640
              </strong>
            </td>
          </tr>
        </table>
      </div>
      <p>Ingin ubah alamat pengiriman emas? klik <a href="tokopedia.com">di sini</a></p>
    </td>
  </tr>
 <tr>
    <td class="section align-center">
      <a class="btn main">Ke Dashboard Cicilan Emas</a>
    </td>
  </tr> 
  {{> footer type="investment-gold"}}
</table>