---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://ecs7.tokopedia.net/fintech/gold/installment/illustration-last-payment.png'
introTitle: Selangkah lagi emasmu siap diantar!
introText: >
  Tinggal bayar 1 tagihan lagi agar emas batanganmu bisa diantar. 
  Pastikan alamat pengiriman sudah benar & bayar tagihan terakhir tepat waktu. 
  Emas akan dikirim setelah tagihan lunas.
iconWidth: 360px
applicationSummary: 
- label: ID Pengajuan
  value: <span class="green">CC4512001</span>
- label: Jumlah Emas
  value: 2 gram
- label: Jenis Kepingan
  value: Antam
- label: Durasi Cicilan
  value: 6 Bulan
- label: Total Tagihan
  value: Rp1.200.000
- label: Tagihan Per Bulan (6x)
  value: Rp200.000
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section pt0">
      <div class="gray-box mb4">
        <table class="full-width">
          <tr>
            <td width="200px" class="align-left">Alamat Pengiriman Emas</td>
            <td class="align-right"><strong>
              Jl. Ciragil 1 No. 37, RT005 RW019, 
              Srengseng Sawah, Jagakarsa, 
              Jakarta Selatan, DKI Jakarta 12640
              </strong>
            </td>
          </tr>
        </table>
      </div>
      <p>Ingin ubah alamat pengiriman emas? klik <a href="https://www.tokopedia.com/emas/cicil">di sini</a></p>
    </td>
  </tr>
 <tr>
    <td class="section align-center">
      <a class="btn main">Ke Dashboard Cicilan Emas</a>
    </td>
  </tr> 
  {{> gold-installment-details }}
  {{> footer type="investment-gold"}}
</table>