---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://via.placeholder.com/600x264'
iconAlt: 'Cicil Emas'

introTitle: Baru, Cicilan Emas! Miliki emas batangan dengan cara menyicil
introText: >
  Miliki emas batangan sesuai harga hari ini, bayar secara cicilan dengan bunga yang terjangkau. 
  <b>Gratis biaya kirim & cetak</b>, bebas pilih cetakan oleh <b>Antam</b> atau <b>UBS</b>. 
  Emas akan dikirim ke rumahmu!
steps:
- image: https://via.placeholder.com/180x120?text=1
  text: Pilih jenis emas, tentukan jumlah kepingan dan durasi cicilanya. Lalu akan muncul estimasi cicilan per bulan.
- image: https://via.placeholder.com/180x120?text=2
  text: Isi formulir pengajuan cicilan. Masukkan data yang sebenar-benarnya.
- image: https://via.placeholder.com/180x120?text=3
  text: Cicil Emas telah aktif. Jangan lupa bayar tagihan bulanan tepat waktu.
- image: https://via.placeholder.com/180x120?text=4
  text: Setelah cicilan lunas, duduk manis & tunggu kepingan emas diantar ke alamatmu!
---

<table class="body">
 {{> intro }}
  <tr>
    <td class="section">
      <table class="full-width">
        <tr>
          <td width="50%" class="pr2">
            <a class="btn main ghost" style="width: 80%;">Info Selengkapnya</a>
          </td>
          <td width="50%" class="pl2">
            <a class="btn main" style="width: 80%;">Ajukan Cicilan Emas</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="section">
      <h2>4 Langkah mudah</h2>
      <table>
        {{#each steps}}
        <tr>
          <td class="valign-top pb6"><img width="180px" src={{this.image}}></td>
          <td class="valign-top px4">{{inc @index}}.</td>
          <td class="valign-top">{{this.text}}
            bulan.</td>
        </tr>
        {{/each}}
      </table>
    </td>
  </tr>
  {{> footer type="investment-gold"}}
</table>