---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://ecs7.tokopedia.net/fintech/gold/installment/illustration-in-process.png'
iconWidth: 360px
introTitle: Pengajuan Cicilan Emas sedang diproses
introText: >
  Terima kasih telah mengajuan Cicilan Emas melalui Tokopedia. 
  Formulir pengajuanmu kini sedang diproses oleh Dhanapala selaku mitra kami. 
  Estimasi hasil pengajuan keluar maks. <b>10 Jan 2020 14:30 WIB</b>
applicationSummary: 
- label: ID Pengajuan
  value: <span class="green">CC4512001</span>
- label: Jumlah Emas
  value: 2 gram
- label: Jenis Kepingan
  value: Antam
- label: Durasi Cicilan
  value: 6 Bulan
- label: Total Tagihan
  value: Rp1.200.000
- label: Tagihan Per Bulan (6x)
  value: Rp200.000
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section align-center">
      <a class="btn main" href="https://www.tokopedia.com/emas/cicil">Lihat Status Pengajuan</a>
    </td>
  </tr> 
  {{> gold-installment-details }}
  {{> footer type="investment-gold"}}
</table>