---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://ecs7.tokopedia.net/fintech/gold/installment/illustration-defaulted.png'
introTitle: Maaf, pengajuan Cicilan Emas kamu dibatalkan
introText: >
  Cicilan emas akan dibatalkan otomatis jika terjadi terlambat pembayaran selama <b>60 hari</b>, 
  sesuai <a href="tokopedia.com">syarat & ketentuan</a> yang berlaku.
iconWidth: 360px
cancellationSummary: 
- label: Total Tagihan
  value: Rp1.226.600<br><small class="thin">sudah termasuk denda keterlambatan</small>
- label: Tagihan Telah Dibayar
  value: Rp203.800
- label: Dana di Kembalikan (Refund)
  value: Rp140.000
applicationSummary: 
- label: ID Pengajuan
  value: <span class="green">CC4512001</span>
- label: Jumlah Emas
  value: 2 gram
- label: Jenis Kepingan
  value: Antam
- label: Durasi Cicilan
  value: 6 Bulan
- label: Total Tagihan
  value: Rp1.200.000
- label: Tagihan Per Bulan (6x)
  value: Rp200.000
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section pt0"> 
      <p>Tagihan yang telah kamu bayarkan akan dikembalikan (refund) dengan ketentuan berikut:</p>
      <ul>
        <li>Kepingan emasmu akan dijual Dhanapala dengan harga jual pada saat pembatalan.</li>
        <li>Kamu berhak mendapatkan refund sebesar 50% dari harga jual, apabila telah melunasi min. 4 dari 6 cicilan yang ada.</li>
      </ul>
      <div class="gray-box">
        <table class="full-width">
          {{#each cancellationSummary}}
          <tr>
            <td width="200px" class="align-left">{{this.label}}</td>
            <td>:</td>
            <td class="align-right"><strong>{{{this.value}}}</strong></td>
          </tr>
          {{/each}}
        </table>
      </div>
      <div class="ticker my4">
        Dana refund relah di transfer ke saldo Tokopedia per <strong>21 Mei 2020</strong>
      </div>
      <p>Silakan pantau dashboard Cicilan Emas secara berkala untuk mengajukan ulang. </p>
    </td>
  </tr>
  <tr>
    <td class="section align-center">
      <a class="btn main ghost" >Dashboard Cicilan Emas</a>
    </td>
  </tr>
  {{> gold-installment-details}}
  {{> footer type="investment-gold"}}
</table>