---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://ecs7.tokopedia.net/fintech/gold/installment/illustration-rejected.png'
introTitle: Maaf, pengajuan Cicilan Emas ditolak
introText:  Keputusan persetujuan / penolakan ditentukan oleh Dhanapala selaku mitra Tokopedia. 
iconWidth: 360px
applicationSummary: 
- label: ID Pengajuan
  value: <span class="green">CC4512001</span>
- label: Jumlah Emas
  value: 2 gram
- label: Jenis Kepingan
  value: Antam
- label: Durasi Cicilan
  value: 6 Bulan
- label: Total Tagihan
  value: Rp1.200.000
- label: Tagihan Per Bulan (6x)
  value: Rp200.000
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section pt0">
      Beberapa alasan umum penolakan:	 
      <ol>
        <li>Keterangan atau data yang diberikan tidak dapat divalidasi oleh Dhanapala.</li>
        <li>Memiliki catatan kredit yang tidak sesuai syarat dan ketentuan Dhanapala.</li>
        <li>Belum memenuhi syarat dan ketentuan pengajuan cicilan olehDhanapala.</li>
      </ol>
      Silakan pantau dashboard Cicilan Emas secara berkala untuk mengajukan ulang.
    </td>
  </tr> 
  <tr>
    <td class="section align-center">
      <a class="btn main" href="https://www.tokopedia.com/emas/cicil">Ke Dashboard Cicilan Emas</a>
    </td>
  </tr> 
  {{> gold-installment-details }}
  {{> footer type="investment-gold"}}
</table>