---
title: Tokopedia Emas - Miliki emas batangan dengan cara menyicil
userName: Pengguna Ujicoba
iconUrl: 'https://ecs7.tokopedia.net/fintech/gold/installment/illustration-cancelled.png'
introTitle: Maaf, pengajuan Cicilan Emas dibatalkan karena belum tanda tangan
introText: >
  Kamu belum melakukan tanda tangan kontrak hingga batas waktu terlewat. 
  Tenang, kamu bisa langsung ajukan cicilan lagi tanpa perlu mengisi formulir dari awal.
iconWidth: 360px
applicationSummary: 
- label: ID Pengajuan
  value: <span class="green">CC4512001</span>
- label: Jumlah Emas
  value: 2 gram
- label: Jenis Kepingan
  value: Antam
- label: Durasi Cicilan
  value: 6 Bulan
- label: Total Tagihan
  value: Rp1.200.000
- label: Tagihan Per Bulan (6x)
  value: Rp200.000
---

<table class="body">
  {{> intro}}
  <tr>
    <td class="section align-center">
      <a class="btn main" href="https://www.tokopedia.com/emas/cicil">Ajukan Ulang</a>
    </td>
  </tr> 
  {{> gold-installment-details }}
  {{> footer type="investment-gold"}}
</table>