/*Gray*/
$N0: #FFFFFF;
$N50: #F3F4F5;
$N75: #E5E7E9;
$N100: #DBDEE2;
$N150: #B5BBC5;
$N200: #9FA6B0;
$N300: #838994;
$N400: #6C727C;
$N500: #52565E;
$N600: #40454C;
$N700: #31353B;

/*Red*/
$R100: #FFEAEF;
$R200: #FFCCD9;
$R300: #FD8AA7;
$R400: #FF5C84;
$R500: #EF144A;
$R600: #D6001C;

/*Green*/
$G100: #EBFFEF;
$G200: #D6FFDE;
$G300: #82EF95;
$G400: #4FD15A;
$G500: #03AC0E;
$G600: #12883D;

/*Blue*/
$B100: #E5F5FF;
$B200: #CCEBFF;
$B300: #77CAFF;
$B400: #32AFFF;
$B500: #009BFF;
$B600: #0066A9;

/*Purple*/
$P100: #FBE7FF;
$P200: #EEBBFF;
$P300: #D07EFF;
$P400: #AC43F6;
$P500: #9022DC;
$P600: #7A08C9;

/*Teal*/
$T100: #EBF6F6;
$T200: #D2F2F2;
$T300: #B0E2E5;
$T400: #84C6C9;
$T500: #689C9E;
$T600: #3A6E70;

/*Yellow*/
$Y100: #FFFAE6;
$Y200: #FFF0B3;
$Y300: #FFC400;
$Y400: #FF8B00;
$Y500: #FA591D;

/*---- List based ---*/

$colors: (
  "n0": #ffffff,
  "n50": #f3f4f5,
  "n75": #e5e7e9,
  "n100": #dbdee2,
  "n150": #b5bbc5,
  "n200": #9fa6b0,
  "n300": #838994,
  "n400": #6c727c,
  "n500": #52565e,
  "n600": #40454c,
  "n700": #31353b,
  
  /*red*/
  "r100": #ffeaef,
  "r200": #ffccd9,
  "r300": #fd8aa7,
  "r400": #ff5c84,
  "r500": #ef144a,
  "r600": #d6001c,
  
  /*green*/
  "g100": #ebffef,
  "g200": #d6ffde,
  "g300": #82ef95,
  "g400": #4fd15a,
  "g500": #03ac0e,
  "g600": #12883d,
  
  /*blue*/
  "b100": #e5f5ff,
  "b200": #ccebff,
  "b300": #77caff,
  "b400": #32afff,
  "b500": #009bff,
  "b600": #0066a9,
  
  /*purple*/
  "p100": #fbe7ff,
  "p200": #eebbff,
  "p300": #d07eff,
  "p400": #ac43f6,
  "p500": #9022dc,
  "p600": #7a08c9,
  
  /*teal*/
  "t100": #ebf6f6,
  "t200": #d2f2f2,
  "t300": #b0e2e5,
  "t400": #84c6c9,
  "t500": #689c9e,
  "t600": #3a6e70,
  
  /*yellow*/
  "y100": #fffae6,
  "y200": #fff0b3,
  "y300": #ffc400,
  "y400": #ff8b00,
  "y500": #fa591d,  
);

@each $name, $hex in $colors {
  .color-#{$name}, .color-#{$name} b {
    color: $hex;
  }
  
  .background-color-#{$name} {
    background-color: $hex;
  }
}