@import './color';
@import './typography';

/* Semantics */
html,
body {
  margin: 0;
  color: $N300;
  background-color: $N50;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  box-sizing: border-box;
}

/* Text Styles */
strong, b {
  font-weight: 800;
  color: $N500;
}

.thin {
  font-weight: 400;
}

small, .small  {
  font-size: 12px;
}

.tiny {
  font-size: 10px;
}

/* Elements */
a {
  color: $G500;
  font-weight: 800;
  text-decoration: none;
}

h1,h2,h3,h4 {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 800;
  color: $N500;
}

h1 {
  font-size: 20px;
  line-height: 26px;
}

h2 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 20px;
}

p {
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid $N100;
}

td {
  padding: 0;
}

/* Layout */
img.logo {
  width: 144px;
}

.body {
  width: 600px;
  margin: 40px auto 24px;
  background-color: $N0;
  border: 1px solid $N100;
  border-spacing: 0;
  
  &.w800 {
    width: 800px;
  }

  td.section {
    padding: 16px 20px;
  }

  ol,ul {
    padding-left: 20px;
  }
}

.footer {
  .product {
    width: 180px;
    h4 {
      color: $N500;
      margin: 0;
      margin-bottom: 4px;
    }
    small {
      line-height: 15px;
      font-weight: 400;
      color: $N300;
    }
    >div {
      height: 108px;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid $N100;
    }
  }
}

.gray-box {
  padding: 16px;
  border-radius: 12px;
  background-color: $N50;
  td {
    padding: 8px;
  }
}

.rounded-corner {
  border-radius: 12px;
}

