@import './color';

/* Helper */

.m {
  @for $i from 0 through 8 {
    &#{$i} {
      margin: $i * 4px;
    }

    &r#{$i} {
      margin-right: $i * 4px;
    }

    &l#{$i} {
      margin-left: $i * 4px;
    }

    &b#{$i} {
      margin-bottom: $i * 4px;
    }

    &t#{$i} {
      margin-top: $i * 4px;
    }

    &x#{$i} {
      margin-left: $i * 4px;
      margin-right: $i * 4px;
    }

    &y#{$i} {
      margin-top: $i * 4px;
      margin-bottom: $i * 4px;
    }
  }
}
.p {
  @for $i from 0 through 8 {
    &#{$i} {
      padding: $i * 4px !important;
    }

    &r#{$i} {
      padding-right: $i * 4px !important;
    }

    &l#{$i} {
      padding-left: $i * 4px !important;
    }

    &b#{$i} {
      padding-bottom: $i * 4px !important;
    }

    &t#{$i} {
      padding-top: $i * 4px !important;
    }

    &x#{$i} {
      padding-left: $i * 4px !important;
      padding-right: $i * 4px !important;
    }

    &y#{$i} {
      padding-top: $i * 4px !important;
      padding-bottom: $i * 4px !important;
    }
  }
}

.background {
  &-blue {
    background-color: #009bff;
  }
  &-white {
    background-color: white;
  }
}

//Various
.align {
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}

.bold {
  font-weight: bold;
}

.borderless {
  border: none !important;

  td {
    border: none !important;
  }
}

.bordered {
  border-radius: 4px;
  border: 1px solid $gray-alto;
}

.full-width {
  width: 100%;
}

.large {
  font-size: 18px;
}

.w {
  &-auto {
    width: auto;
    min-width: auto;
  }

  &-50 {
    width: 50%;
  }
}

.valign {
  &-top {
    vertical-align: top;
  }

  &-bottom {
    vertical-align: bottom;
  }
}

small {
  font-size: 12px;
}
