@import "./color";

/* Button */
a.btn {
  display: inline-block;
  border-radius: 8px;
  font-weight: 800;
  padding: 12px 24px;
  text-align: center;

  &.block {
    width: 100%;
    box-sizing: border-box;
  }

  &.small {
    padding: 6px 12px;
  }

  &.main {
    color: $N0;
    background-color: $G500;
    &.ghost {
      color: $G500;
      background-color: $N0;
      border: 1px solid $G500;
    }
  }

  &.alternate {
    color: $N0;
    background-color: $N500;
    &.ghost {
      color: $N500;
      background-color: $N0;
      border: 1px solid $N100;
    }
  }
}

div.ticker {
  padding: 12px 16px;
  border-radius: 8px;
  background-color:$T100;
  background-image: url("https://ecs7.tokopedia.net/img/wallet/email/ic_system_info.png");
  background-repeat: no-repeat;
  background-size: 30px;

  &.warning {
    background-color: $Y100;
    background-image: url("https://ecs7.tokopedia.net/assets-fintech-email/img/icon/icon-ticker-warning.png");
    background-position: -4px -4px;
  }
}